.light-container{
    background-color: black;
    width: 250px;
    height: 500px;
    border-radius: 25px;
}
.light{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: 10px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.body{

    vertical-align: middle;
}
.red.selected{
    webkit-box-shadow: 0px 0px 50px 20px rgba(255,0,0,0.86);
    moz-box-shadow: 0px 0px 50px 20px rgba(255,0,0,0.86);
    box-shadow: 0px 0px 50px 20px rgba(255,0,0,0.86);
}
.yellow.selected{
    webkit-box-shadow: 0px 0px 50px 20px rgba(225,255,0,1);
    moz-box-shadow: 0px 0px 50px 20px rgba(225,255,0,1);
    box-shadow: 0px 0px 50px 20px rgba(225,255,0,1);
}
.green.selected{
    webkit-box-shadow: 0px 0px 50px 20px rgba(0,255,0,1);
    moz-box-shadow: 0px 0px 50px 20px rgba(0,255,0,1);
    box-shadow: 0px 0px 50px 20px rgba(0,255,0,1);
}